<%-include("header")-%>
    <div class="container weather-page-box">
        <h1>The Discription of weather is <%=weatherDiscription%></h1>
        <h2>The temperature of <%=city%> is <%=temp%> °C</h2>
    </div>
<%-include("footer")-%>